.genre_vid {
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}

iframe {
    /* margin: 2%; */
    padding: 15px;
    height: 239px;
    width: 417px;
}

@media only screen and (max-width: 600px) {
    iframe {
        height: 100px;
        width: 150px;
    }
}